html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

    
}





/* 1) ctrl = shift + p
2) search: user snippets
3) css.json */
